<form action="<%= url %>?_method=DELETE" method="POST" id="delete-by-url">
    <button onclick="return confirm('Are you sure you want to delete?');" id="delete_button"
        type="submit">delete</button>
</form>