<div class="container_footer">
    <div class="footer-text">
    <div class="footer_link_1">
        <a href="https://www.digital.govt.nz/standards-and-guidance/design-and-ux/usability/copyright-statements-for-websites/"
            rel="noopener" id="link_copyright" target="_blank">
            <Tobecontin>&copy; 2023 | 185R |
        </a>
        <a href="https://tobone.one" rel="noopener" id="link_web_developer" target="_blank">
            Design-VA</a>
    </div>
    <div class="footer_link_2">
        <a href="/admin" id="link_admin">Admin</a>
    </div>
</div>
</div>
<!-- <script nounce="" src="/public/js/clientClicks.js" type="text/javascript" defer></script>
<script nounce="" src="/public/js/share.js" type="text/javascript" defer></script> -->
<script defer type="text/javascript">
    const theseImages = document.querySelectorAll("img");
    theseImages.forEach((value) => {
        value.oncontextmenu = (e) => {
            e.preventDefault();
        }
    })
</script>