<style>
    .container-401 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
</style>
<div class="container-401">
    <p>Whoops!</p>
    <h1>401</h1>
    You do not have authorization!
</div>