<head>
    <style>
        nav ul {
            background: var(--bg-about);
        }
    </style>
</head>
<header class="bg__header" id="bg_header_about">
    <section class="scroll-element">
        <div class="container_header flow flow-about">
            <h1 class="pageTitle">
                <span>185</span>Restorations
            </h1>
            <p class="page-subtitle">With over 25 years of artisanship experience, our highly focused communication
                ensures
                our client relations are
                always in perfect sync. At 185 Restorations, we fully understand just what it takes to build your
                dreams.
            </p>
            <p class="page-subtitle-p">
                Whether your dream drive is a vintage chugging up the road, original and from the 1920’s shop floor,
                or
                that
                muscle car glinting under the streetlights. We can create and actualize classic & custom car
                passions.
                Your
                imagination is at our fingertips and our true passions lay in our projects beginnings through to the
                shop
                floor finish.
            </p>
        </div>
    </section>
</header>
<div class="content__about">
    <img src="../public/assets/img/car-manu/acura-logo.png">
    <img src="../public/assets/img/car-manu/alfa-romeo-logo.png">
    <img src="../public/assets/img/car-manu/aston-martin-logo.png">
    <img src="../public/assets/img/car-manu/bentley-logo.png">
    <img src="../public/assets/img/car-manu/bmw-logo.png">
    <img src="../public/assets/img/car-manu/bugatti-logo.png">
    <img src="../public/assets/img/car-manu/buick-logo.png">
    <img src="../public/assets/img/car-manu/cadillac-logo.png">
    <img src="../public/assets/img/car-manu/chevrolet-logo.png">
    <img src="../public/assets/img/car-manu/chrysler-logo.png">
    <img src="../public/assets/img/car-manu/citroen-logo.png">
    <img src="../public/assets/img/car-manu/dodge-logo.png">
    <img src="../public/assets/img/car-manu/ferrari-logo.png">
    <img src="../public/assets/img/car-manu/fiat-logo.png">
    <img src="../public/assets/img/car-manu/ford-logo.png">
    <img src="../public/assets/img/car-manu/ford-mustang-logo.png">
    <img src="../public/assets/img/car-manu/genesis-logo.png">
    <img src="../public/assets/img/car-manu/gmc-logo.png">
    <img src="../public/assets/img/car-manu/hyundai-logo.png">
    <img src="../public/assets/img/car-manu/honda-logo.png">
    <img src="../public/assets/img/car-manu/infiniti-logo.png">
    <img src="../public/assets/img/car-manu/jaguar-logo.png">
    <img src="../public/assets/img/car-manu/jeep-logo.png">
    <img src="../public/assets/img/car-manu/kia-logo.png">
    <img src="../public/assets/img/car-manu/lamborghini-logo.png">
    <img src="../public/assets/img/car-manu/lexus-logo.png">
    <img src="../public/assets/img/car-manu/lotus-logo.png">
    <img src="../public/assets/img/car-manu/lincoln-logo.png">
    <img src="../public/assets/img/car-manu/maserati-logo.png">
    <img src="../public/assets/img/car-manu/mazda-logo.png">
    <img src="../public/assets/img/car-manu/mclaren-logo.png">
    <img src="../public/assets/img/car-manu/mercedes-benz-logo.png">
    <img src="../public/assets/img/car-manu/mini-logo.png">
    <img src="../public/assets/img/car-manu/mitsubishi-logo.png">
    <img src="../public/assets/img/car-manu/nissan-logo.png">
    <img src="../public/assets/img/car-manu/peugeot-logo.png">
    <img src="../public/assets/img/car-manu/pontiac-logo.png">
    <img src="../public/assets/img/car-manu/porsche-logo.png">
    <img src="../public/assets/img/car-manu/rolls-royce-logo.png">
    <img src="../public/assets/img/car-manu/saab-logo.png">
    <img src="../public/assets/img/car-manu/subaru-logo.png">
    <img src="../public/assets/img/car-manu/suzuki-logo.png">
</div>
    <!-- <div class="about_infil">
                <p class="result" id="result"></p>
            </div> -->
    <script src="/public/js/sectionObserver2.js" type="text/javascript" defer></script>

