<header class="bg__header">
    <div class="scroll-element">
        <div class="container_header flow">
            <h1 class="pageTitle">
                <span>185</span>Restorations
            </h1>
            <p class="page-subtitle">Specialists in classic & custom car restorations. Located in Christchurch where
                we
                are
                strictly passionate about realizing all those car
                dreams...</p>
        </div>
    </div>
</header>
<main class="container__index">
    <div class="projects__row">
        <h2 class="title">Projects</h2>
        <div class="progress-bar">
            <div class="progress-item active"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
            <div class="progress-item"></div>
        </div>

    <div class="container-projects">
            <button class="handle left-handle">
                <div class="button-text">&#8249;</div>
            </button>
            <div class="slider">
                <div class="outer">
                    <div class="filter" img1>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img2>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img3>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img4>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img5>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img6>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img7>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img8>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img9>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img10>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img11>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Plymouth-Cuda</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img12>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Toyota Corolla</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img13>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Toyota Corolla</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img14>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Toyota Corolla</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img15>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Toyota Corolla</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img16>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Toyota Corolla</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img17>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>Toyota Corolla</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img18>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>57 Chevy</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img19>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>57 Chevy</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img20>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>57 Chevy</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img21>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>57 Chevy</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img22>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>1967 Camaro</label>
                        </figcaption>
                    </div>
                </div>
                <div class="outer">
                    <div class="filter" img23>
                        <div class="shade"></div>
                        <figcaption class="port-desc">
                            <label>1967 Camaro</label>
                        </figcaption>
                    </div>
                </div>
            </div>
            <button class="handle right-handle">
                <div class="button-text">&#8250;</div>
            </button>
    </div>
    </div>
    <script type="text/javascript" src="/public/js/galleryImages.js" defer></script>
    <div class="service__row">
        <h2 class="title">Services</h2>
        <div class="nav-bar">
            <div class="nav-item active"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
            <div class="nav-item"></div>
        </div>

        <div class="container-service">
            <button class="handle2 left-handle2">
                <div class="button-text">&#8249;</div>
            </button>
            <div class="slider2">
                <div class="laz" c1>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Turnkey Rebuilds</h3>
                </div>
                <div class="laz" c2>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Custom Fabrication</h3>
                </div>
                <div class="laz" c3>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Rust Repairs</h3>
                </div>
                <div class="laz" c4>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Panel Fabrication</h3>
                </div>
                <div class="laz" c5>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Spray Painting</h3>
                </div>
                <div class="laz" c6>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Panel Beating</h3>
                </div>
                <div class="laz" c7>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">Engine Transplants</h3>
                </div>
                <div class="laz" c8>
                    <div class="shade2"></div>
                    <img class="lazy" src="/public/assets/img/cardBackground.png" alt="">
                    <h3 class="lazy-inner-text">And Welding</h3>
                </div>
            </div>
            <button class="handle2 right-handle2">
                <div class="button-text">&#8250;</div>
            </button>
        </div>
    </div>
    <div class="connect">
        <h2 class="title">Connect</h2>
        <div class="connect__soon">
            <div>
                <a href="/connect">> > > Link > > ></a>
            </div>
        </div>
    </div>
    <div class="even-columns" id="contact">
        <div class="container__contact">
            <h2 class="contact-title">Contact</h2>
            <form method="POST" action="/mail" id="form-contact">
                <input type="text" id="name" name="name" placeholder="Your name" />

                <input type="text" id="email" name="email" placeholder="Your email" />

                <input type="text" id="subject" name="subject" placeholder="Subject" />

                <textarea id="message" name="message" placeholder="Write your messasge!"></textarea>
                <div class="button__div">
                    <button type="submit" id="form-button" aria-label="">Send</button>
                </div>
            </form>
        </div>

        <div class="container__contact">
            <h2 class="find-us"> Find us!</h2>
            <div class="mapsfinder">
                <iframe title="Find us on google maps" class="responsive-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77505.50359569631!2d172.26286885626814!3d-43.49785987195489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d31f853d8a00f27%3A0xa4abeee98371ffc8!2s185%20Bells%20Road%2C%20West%20Melton%207671!5e0!3m2!1sen!2snz!4v1665604298389!5m2!1sen!2snz"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="details">
        <h2>Contact details</h2>
        <div class="details-card">
            <h4>Email</h4>
            <ul>
                <li> <a href="mailto:phil@185restorations.co.nz">phil@185restorations.co.nz</a></li>
                <li><a href="mailto:aaron@185restorations.co.nz">aaron@185restorations.co.nz</a></li>
            </ul>
            <h4>Phone</h4>
            <ul>
                <li>Aaron - <a href="tel:022 5732 530" style="font-size: 1.1rem;">022 5732 530</a></li>
                <li>Phil - <a href="tel:027 2056 868" style="font-size: 1.1rem;">027 2056 868</a></li>
            </ul>
        </div>
        <p class="result"></p>
    </div>
    </main>
    <script nounce="" src="/public/js/sectionObserever.js" type="text/javascript" defer></script>
    <script nounce="" src="/public/js/slider2.js" type="text/javascript" defer></script>
    <script nounce="" src="/public/js/slider.js" type="text/javascript" defer></script>
    <script type="text/javascript">
        const allImages = document.querySelectorAll("img");
        allImages.forEach((value) => {
            value.oncontextmenu = (e) => {
                e.preventDefault();
            }
        })
    </script>

