<style>
    a {
        --body-font-color: #d6d6d6 !important;
    }
</style>
<div class="container__connect">
    <div class="connectTitle" id="connect-title">
        <h1><span>185</span>CONNECT . . .</h1>
        <p>Coming soon, maybe!</p>
    </div>
    <div class="hero" id='hero'>
        <div class="hero-filter">
            <div class="hero-filter2" id="hero-filter2">
            </div>
        </div>
    </div>

    <!-- <div class="container__background__image"></div> -->

    <div class="connect__description">
        <p>
            Connect is a future concept aimed at providing a free members service to all 185 app users. A community
            based project where classic/vintage and custom car enthusiast's from NZ and all over the globe can write,
            meet, message and even advertise their rear cars and parts for sale. A blog, and a place to chat trade or
            list. List either required parts needed for their own project or rear parts for sale. Not forgetting those
            old wrecks that lay, rusting, through 185’s connect may also now be discovered. Where connections made
            easily, centred on common tar sealed / ground…
        </p>
    </div>


</div>
<script type="text/javascript">
    document.getElementById('navigation').style.background = 'transparent';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"
    integrity="sha512-kVlGhj2qFy+KBCFuvjBJTGUMxbdqJKs4yK2jh0e0VPhWUPiPC87bzm4THmaaIee3Oj7j6sDpTTgm2EPPiESqBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="/public/js/timescroll/scrolltrigger.js" defer></script>
<script type="text/javascript" src="/public/js/scroll.js" defer></script>