<head>
    <link rel="stylesheet" href="/public/css/project.css" crossorigin="anonymous">
</head>

<div class="container__project">
    <aside class="container__nav">
        <%- include('../partials/_project_nav') -%>
    </aside>
    <div id="overlay"></div>
    <div class="main">
        <!-- <div class="container__gallery"></div> -->
        <div class="projects__description"></div>
        <div class="title-projects">
            <h1 class="pageTitle" id="project_hm"><span>185</span>PROJECTS</h1>
        </div>
        <div class="__description">
            <p>Galleries for 185's previous and present restoration projects...</p>
        </div>
    </div>
</div>
